* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body {
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    text-align: center;
    background-color: black;
}

header {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    overflow: hidden;
    position: sticky;
}

header .logo {
    height: 50px;
    margin-left: 10px;
    max-height: 100%;
}

header li{
    text-decoration: underline;
    display: inline-block;
    margin-left: 20px;
}

header .right {
    margin-left: auto;
    margin-right: 10px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.mission {
    background-image: url(images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.mission .banner {
    background-color: black;
    width: 1200px;
    min-height: 100px;
}


.mission .banner h2{
    margin-top: 10px;
}

.mission .banner h4{
    margin-bottom: 15px;
}

.totm {
    width: 1000px;
    align-items: center;
    margin-top: 30px;
}

.totm .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.totm img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.totm h4 {
    margin-top: 10px;
}

.locations {
    background-image: url(images/img-locations-background.jpg);
    min-height: 500px;
    width: 1200px;
}

.locations #locheader {
    margin-top: 50px;
    background-color: black;
}

.locations .boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;
    
}

.locations .block {
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.locations .block a, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    height: 200px;
}

.copyright {
    margin-left: 20px;
    margin-right: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 102px;
  }